.no_login {
    padding: 30px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;

        img {
            width: 55px;
            height: 55px;
            margin-bottom: 10px;
        }

        p {
            color: var(--black500);
            margin-bottom: 35px;
        }

        button {
            font-weight: 600;
            width: 350px;
            height: 80px;
            border-radius: 10px;
            background-color: var(--main);
            font-size: 17px;
        }

    }
}

.calendar_month {
    padding: 3vw 8vw;

    h2 {
        margin-bottom: 10px;
    }

    .react-calendar {
        padding: 6px;
        font-family: var(--mainfont-pre);
        border: 2px solid var(--white200);
        border-radius: 5px;
        max-width: 980px;
        width: 70%;
        height: 600px;

        .react-calendar__navigation {
            justify-content: center;
        }

        .react-calendar__navigation__label {
            flex-grow: 0;
            width: 30%;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .react-calendar__viewContainer {
        .react-calendar__month-view {
            >div {
                >div {
                    .react-calendar__month-view__weekdays {
                        font-size: 18px;
                        text-decoration: none;
                        padding-bottom: 5px;
                        border-bottom: 2px solid var(--white100);
                    }

                    .react-calendar__month-view__days {
                        height: 50vh;
                    }
                }
            }
        }
    }

    .react-calendar__tile {
        text-align: top;
    }
}

abbr {
    text-decoration: none;
}

#chart_weekly {
    padding: 100px;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .left {
        display: flex;
        justify-content: center;
        width: 65%;
        height: inherit;

        .recharts-layer {
            width: 80%;
        }
    }

    .right {
        width: 34%;
        height: inherit;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;

        >div {
            width: 100%;

            >div {
                width: 80%;
                padding: 30px;
                padding-bottom: 25px;
                border-radius: 10px;
                border: 3px solid var(--white100);
                margin-bottom: 20px;

                h3 {
                    font-weight: 600;
                }

                >div {
                    margin-top: 10px;
                    display: flex;
                    align-items: last baseline;

                    .time {
                        font-size: 48px;
                        font-weight: 800;
                    }

                    .info {
                        margin-left: 15px;
                        color: var(--black500);
                    }
                }
            }

        }

        >p {
            color: var(--black500);
        }
    }
}
