.no_login {
    padding: 30px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;

        img {
            width: 55px;
            height: 55px;
            margin-bottom: 10px;
        }

        p {
            color: var(--black500);
            margin-bottom: 35px;
        }

        button {
            font-weight: 600;
            width: 350px;
            height: 80px;
            border-radius: 10px;
            background-color: var(--main);
            font-size: 17px;
        }

    }
}

.calendar_month {
    padding: 40px 10vw 0;

    >h2 {
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: 800;
    }

    .calendar_main {
        display: flex;
        justify-content: space-between;

        .fullCalendar_month {
            border-radius: 20px;
            padding: 20px;
            border: 2px solid var(--white100);
            width: 65%;

            .fc {
                height: 70vh;

                .fc-header-toolbar {
                    justify-content: center;

                    .fc-toolbar-chunk {
                        position: relative;

                        h2 {
                            font-size: 24px;
                        }

                        .fc-button-group {
                            z-index: 1;
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);

                            button {
                                background-color: #00000000;
                                border: 0;
                                color: var(--black500);
                                outline: none;
                            }
                        }

                        .fc-today-button {
                            display: none;
                        }

                        .fc-prev-button {
                            top: 0;
                            left: -250px;
                            position: absolute;
                        }

                        .fc-next-button {
                            margin-left: 68px;
                        }
                    }
                }

                .fc-daygrid-day-frame {
                    transition: all 0.3s;
                }

                .fc-daygrid-day-frame:hover {
                    border-radius: 10px;
                    cursor: pointer;
                    background-color: var(--black300);
                    color: var(--main);
                }

                .fc-daygrid-day-top {
                    display: flex;
                    justify-content: center;
                }
            }

            .fc-theme-standard .fc-scrollgrid {
                border: 0;
            }

            tr,
            td {
                border: 0 !important;
            }

            .fc-theme-standard th {
                border-right: 0;
                border-left: 0;
            }

            .fc-col-header-cell {
                font-size: 18px;
            }

        }

        .today_schedule {
            width: 30%;

            h2 {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .schedule {
                min-width: 420px;
                width: 100%;
                border: 2px solid var(--white100);
                border-radius: 10px;
                padding: 18px 15px;
                display: flex;
                margin-bottom: 10px;

                .left {
                    width: 23%;
                    display: flex;
                    align-items: center;

                    .cate {
                        width: 15px;
                        height: 15px;
                        border-radius: 5000px;
                    }

                    .care {
                        background-color: #E2DAFF;
                    }

                    .coparation {
                        background-color: #FFDCDA;
                    }

                    .etc {
                        background-color: #DAF4FF;
                    }

                    .time {
                        width: calc(100% - 15px);
                        padding: 0 10px;
                        font-weight: 600;
                        font-size: 18px;
                        border-right: 2px solid var(--white100);
                    }
                }

                .right {
                    margin-left: 15px;

                    h3 {
                        font-weight: 600;
                    }
                }
            }

            button {
                width: 100%;
                height: 94px;
                background-color: var(--white100);
                border-radius: 10px;

                p {
                    color: var(--black500);
                }
            }
        }
    }

}

abbr {
    text-decoration: none;
}

#chart_weekly {
    padding: 100px;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .left {
        display: flex;
        justify-content: center;
        width: 65%;
        height: inherit;

        .recharts-layer {
            width: 80%;
        }
    }

    .right {
        width: 34%;
        height: inherit;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;

        >div {
            width: 100%;

            >div {
                width: 80%;
                padding: 30px;
                padding-bottom: 25px;
                border-radius: 10px;
                border: 3px solid var(--white100);
                margin-bottom: 20px;

                h3 {
                    font-weight: 600;
                }

                >div {
                    margin-top: 10px;
                    display: flex;
                    align-items: last baseline;

                    .time {
                        font-size: 48px;
                        font-weight: 800;
                    }

                    .info {
                        margin-left: 15px;
                        color: var(--black500);
                    }
                }
            }

        }

        >p {
            color: var(--black500);
        }
    }
}

.call {
    margin-top: 40px;
    padding: 0;

    .calendar_main {
        display: block;

        >h2 {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .fullCalendar_month {
            width: 100%;
        }
    }
}