.carecenter_wrap {
    min-width: 1600px;
    padding-top: 50px;
    padding-left: 10vw;
    height: calc(100vh - 138px);
    display: flex;

    .carecenter_list {
        width: 25%;

        h2 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .search {
            margin-bottom: 20px;
            position: relative;

            img {
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                position: absolute;
            }

            input {
                outline: none;
                border-radius: 30px;
                width: 80%;
                padding: 15px 30px 15px 50px;
                border: 2px solid var(--black500);
            }
        }

        .list {
            width: 80%;
            margin-bottom: 20px;

            h5 {
                font-size: 15px;
                color: var(--black500);
                margin-bottom: 5px;
            }

            p {
                cursor: pointer;
                font-weight: 600;
                padding: 10px 0;
                border-bottom: 1px solid var(--white200);
            }
        }

        .pagenation {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
            }

            p {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
            }

            .click {
                background-color: var(--black300);
                border-radius: 50%;
                color: var(--white);
            }
        }
    }

    .map {
        min-width: 1200px;
        width: 75%;
        height: inherit;

        #__react-kakao-maps-sdk___Map {
            >div {
                >div {
                    >div {
                        position: relative;

                        .here {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            background-color: var(--black300);
                            color: var(--main);
                            min-width: 220px;
                            min-height: 45px;
                            border-radius: 500px;
                            padding: 10px 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .arrow {
                                position: absolute;
                                bottom: -10px;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                /* 왼쪽 변을 없애기 위해 투명색으로 설정 */
                                border-right: 10px solid transparent;
                                /* 오른쪽 변을 없애기 위해 투명색으로 설정 */
                                border-bottom: 20px solid var(--black300);
                                rotate: (180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

.kind_of_carecenter {
    width: 173px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--black300);
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    right: 50px;
    top: 170px;
    transform: translate(-50px);
    padding: 10px;

    >div {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        p {
            font-size: 16px;
            padding-top: 1px;
            font-weight: 600;
        }
    }
}

.on {
    height: 280px;

    .list {
        padding: 8px;
        display: block;

        >div {
            padding: 2px;
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                display: none;
            }

            input[type="checkbox"]+label {
                cursor: pointer;
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 1px solid var(--black500);
                border-radius: 3px;
                margin-right: 10px;
                position: relative;
            }

            input[type="checkbox"]:checked+label::after {
                content: '✓';
                width: 13px;
                height: 14px;
                border-radius: 2px;
                background-color: var(--black300);
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
                font-size: 11px;
            }

        }

    }

    button {
        position: absolute;
        width: 15px;
        height: 8px;
        background-color: #00000000;
        bottom: 15px;
        right: 40%;
        transform: translateX(-40%);
    }
}

.careCenter_info {
    position: absolute;
    top: 65%;
    right: 240px;
    width: 360px;
    height: 540px;
    transform: translateY(-65%);
    background-color: var(--white);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.212);

    .header {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--white300);

        h2 {
            white-space: pre-wrap;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            color: var(--black500);
        }
    }

    .main {
        padding: 20px 0px;
        border-bottom: 1px solid var(--white300);

        >div {
            display: flex;
            margin-bottom: 10px;
            overflow-wrap: break-word;

            img {
                width: 23px;
                height: 23px;
                margin-right: 5px;
            }

            p {
                width: calc(100% - 23px);
                font-weight: 600;
                white-space: pre-wrap;
            }
        }
    }

    .footer {
        padding: 20px 0px;

        >div {
            display: flex;

            h4 {
                color: var(--black500);
                margin-right: 10px;
            }

            p {
                font-weight: 600;
            }
        }
    }

    .likebtn {
        position: absolute;
        right: -60px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            border-radius: 10px;
            background-color: var(--white);
            width: 45px;
            height: 45px;
            box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.212);


            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}


@media (max-width: 1700px) {
    .carecenter_wrap {
        padding-top: 50px;
        padding-left: 7vw;

        .carecenter_list {
            width: 30%;
        }
    }
}

@media (max-width: 1600px) {
    .carecenter_wrap {
        padding-left: 6vw;
        height: calc(100vh - 122px);

        .carecenter_list {
            width: 30%;

            h2 {
                font-size: 28px;
                margin-bottom: 10px;
            }

            .search {
                margin-bottom: 20px;

                input {
                    font-size: 14px;
                    border-radius: 30px;
                    width: 80%;
                    padding: 10px 10px 10px 40px;
                    border: 2px solid var(--black500);
                }
            }

            .list {

                h5 {
                    font-weight: 600;
                    font-size: 14px;
                }

                p {
                    font-size: 15px;
                    padding: 7px 0;
                }
            }
        }
    }

    .kind_of_carecenter {
        height: 45px;

        >div {
            width: 100%;

            img {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }

            p {
                font-size: 14px;
                padding-top: 1px;
                font-weight: 600;
            }
        }
    }

    .on {
        height: 250px;
    }
}