.no_comm {
    padding: 30px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        text-align: center;

        img {
            width: 55px;
            height: 55px;
            margin-bottom: 10px;
        }

        p {
            color: var(--black500);
            margin-bottom: 35px;
        }

        button {
            font-weight: 600;
            width: 350px;
            height: 80px;
            border-radius: 10px;
            background-color: var(--main);
            font-size: 17px;
        }

    }
}

.comm_join {
    padding: 30px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    >div {
        min-width: 370px;
        width: 28%;
        max-width: 450px;
        text-align: left;
        position: relative;

        input {
            width: 100%;
            border-bottom: 1px solid var(--black500);
            padding: 10px 5px;
            outline: none;
        }

        ::placeholder {
            font-size: 20px;
            font-weight: 600;
            color: var(--black500);
        }

        p {
            margin-top: 35px;
            font-size: 14px;
            color: var(--black300);
        }

        .noMsg {
            top: 10px;
            position: absolute;
            color: red;
        }

        >div {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;

            button {
                width: 48.8%;
                height: 50px;
                font-weight: 700;
                border-radius: 5px;
            }

            .back {
                color: var(--black300);
                background-color: #00000000;
                border: 2px solid var(--black400);
            }

            .next {
                background-color: var(--black500);
                color: var(--white);
            }
        }
    }
}

.comm_timeline {
    display: flex;
    margin: 0 auto;
    width: 70%;
    min-width: 1200px;
    max-width: 1400px;
    padding: 80px;
    position: relative;

    h2 {
        font-weight: 700;
        margin-bottom: 10px;
    }

    .left {
        width: 30%;
        margin-right: 25px;

        >div {
            padding: 20px;
            display: flex;
            flex-direction: column;
            border: 2px solid var(--white200);
            border-radius: 10px;
            margin-bottom: 20px;

            >p {
                font-size: 17px;
                margin-bottom: 10px;
                font-weight: 600;
                color: var(--black400);
            }
        }

        .profile {
            padding-bottom: 22px;

            p {
                width: 100%;
            }

            div {
                display: flex;
                align-items: center;

                .picture {
                    background-color: var(--black);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                div {
                    display: block;

                    h4 {
                        font-weight: 700;
                    }

                    p {
                        color: var(--black300);
                    }
                }
            }
        }

        .friends {
            .frined_title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                p {
                    font-size: 17px;
                    font-weight: 600;
                    color: var(--black400);
                }

                button {
                    background-color: #00000000;
                    text-decoration: underline;
                    font-size: 15px;
                }
            }

            .frined_list {
                margin-bottom: 20px;

                p {
                    padding: 6px 2px;
                    border-bottom: 1px solid var(--white100);
                }
            }

            .pagenation {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 30px;
                    height: 30px;
                    margin: 0 15px;
                    background-color: #00000000;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                }

                .click {
                    border-radius: 50%;
                    color: var(--white);
                    background-color: var(--black200);
                }
            }
        }

        .community_list {
            div {
                display: flex;
                align-items: center;

                img {
                    width: 16%;
                    margin-right: 10px;
                }
            }
        }
    }

    .timeline {
        height: 100%;
        width: 70%;

        >div {
            height: 100%;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid var(--white200);
            margin-bottom: 20px;

            button {
                font-size: 17px;
                background-color: #00000000;
                color: var(--black400);
                font-weight: 600;
                margin-bottom: 20px;
            }

            >div {
                margin-bottom: 20px;
                border-bottom: 1px solid var(--white200);
                height: 100%;

                h4 {
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                p {
                    margin-bottom: 7px;
                    white-space: wrap;
                }

                div {
                    display: flex;
                    height: 100%;

                    div {
                        margin-right: 10px;

                        p {
                            color: var(--white300);
                        }
                    }
                }
            }

            .last {
                border: 0;
                margin-bottom: 0;
            }
        }
    }

    .comm_Article {
        width: 70%;
        padding: 20px;
        border: 2px solid var(--white200);
        border-radius: 10px;
        height: 100%;

        .article {

            h3,
            p {
                padding: 0 5px;
            }

            .catecory {
                width: 20%;
                min-width: 180px;
                text-align: center;
                padding: 3px 10px;
                background-color: var(--white100);
                color: var(--black400);
                font-size: 15px;
                font-weight: 600;
                border-radius: 5px;
                margin-bottom: 8px;
            }

            .title {
                font-size: 25px;
                font-weight: 600;
            }

            .nickname {
                font-weight: 600;
            }

            .time {
                color: var(--black500);
                font-size: 15px;
                margin-bottom: 10px;
            }

            .text {
                margin-bottom: 30px;
            }

            .like {
                padding: 0 5px;
                width: inherit;
                display: flex;
                justify-content: left;
                align-items: center;
                margin-bottom: 5px;

                img {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    .comment_wrap {
        .comment_write {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            input {
                padding: 12px 20px;
                border-radius: 5px;
                border: 2px solid var(--white300);
                width: 92%;
            }

            button {
                background-color: var(--black100);
                border-radius: 5px;
                width: 7%;
                color: var(--white);
            }
        }

        .comment_list {
            padding: 0 5px;

            .comment_count {
                display: flex;
                margin-bottom: 10px;
                align-items: center;

                img {
                    width: 20px;
                    height: 14px;
                    margin-right: 5px;
                }

                p {
                    font-size: 14px;
                    color: var(--white300);
                }
            }

            .comment,
            .comment_re {
                border-bottom: 1px solid var(--white200);
                margin-bottom: 10px;
                padding-bottom: 10px;

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 2px;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        width: 83%;
                    }

                    .btn {
                        width: 18%;
                        display: flex;
                        justify-content: right;

                        button {
                            text-align: right;
                            background-color: #00000000;
                            color: var(--black400);
                            font-size: 16px;
                            margin-left: 6px;
                        }

                        .send {
                            border-right: 1px solid var(--black500);
                            padding-right: 6px;
                        }
                    }
                }

                >p {
                    font-size: 14px;
                    color: var(--white300);
                }


                .writer {
                    width: 100%;
                    justify-content: left;
                    align-items: center;

                    h4 {
                        margin-right: 10px;
                    }

                    .cate {
                        display: flex;
                        justify-content: center;
                        border: 1px solid var(--main);
                        border-radius: 30px;
                        width: 10%;
                        font-weight: 700;
                        color: var(--main);
                        padding: 0;
                        font-size: 15px;
                    }
                }
            }

            .comment_re {
                display: flex;
                padding-left: 50px;

                img {
                    width: 20px;
                    height: 20px;
                }

                div {
                    display: block;
                    width: 100%;

                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            width: 70%;
                        }

                        .btn {
                            width: 20%;
                            display: flex;

                            button {
                                text-align: right;
                                background-color: #00000000;
                                color: var(--black400);
                                font-size: 16px;
                            }
                        }

                    }

                }
            }
        }
    }
}

.comm_write {
    margin: 0 auto;
    padding: 80px 0;
    width: 70%;
    max-width: 1000px;

    h2 {
        font-weight: 600;
        margin-bottom: 10px;
    }

    input,
    textarea {
        margin-bottom: 20px;
        width: 100%;
        padding: 15px;
        border: 2px solid var(--white200);
        border-radius: 5px;
        outline: none;
    }

    textarea {
        min-height: 45vh;
    }

    div {
        display: flex;
        justify-content: space-between;

        button {
            width: 184px;
            height: 48px;
            border-radius: 5px;
        }

        .cancel {
            font-weight: 600;
            border: 2px solid var(--black400);
            color: var(--black300);
            background-color: #00000000;
        }

        .upload {
            background-color: var(--black300);
            color: var(--white);
        }
    }

    .cancel_pop {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #0000006e;

        >div {
            margin: auto auto;
            width: 476px;
            background-color: var(--white);
            border-radius: 15px;
            display: block;
            padding: 30px 40px;

            h3 {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            p {
                font-weight: 600;
                margin-bottom: 20px;
            }

            >div {
                .not_cancel {
                    background-color: var(--black300);
                    color: var(--white);
                }
            }
        }
    }
}

#going_write {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    background-color: #00000000;
    border: 0;
    color: var(--main);
    right: 170px;
    bottom: 50px;
    transform: translate(-170px, -50px);
    padding: 0;

    img {
        width: 100%;
        height: 100%;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.comm_friend_wrap {
    padding: 60px 0;
    width: 1000px;
    margin: 0 auto;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        h3 {
            width: 15%;
            margin-right: 10px;
            font-weight: 600;
            font-size: 20px;
        }

        .search_friends {
            border-radius: 500px;
            width: 100%;
            display: flex;
            padding: 0 30px;
            border: 1px solid var(--black500);
            position: relative;

            input {
                width: 70%;
                padding: 15px;
                outline: none;
                font-size: 18px;
            }

            button {
                position: absolute;
                width: 130px;
                height: 40px;
                border-radius: 500px;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                color: var(--white);

            }
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        >div {
            width: 49%;
            min-width: 450px;
            border-radius: 10px;
            border: 2px solid var(--white100);
            padding: 20px;

            h4 {
                font-size: 18px;
                font-weight: 600;
                color: var(--black400);
                margin-bottom: 10px;
            }

            .list {
                margin-bottom: 15px;
                height: 400px;

                >div {
                    justify-content: space-between;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid var(--white100);
                    padding: 5px;
                    height: 40px;

                    p {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            .pagenation {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 30px;
                    height: 30px;
                    margin: 0 15px;
                    background-color: #00000000;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                }

                .click {
                    border-radius: 50%;
                    color: var(--white);
                    background-color: var(--black200);
                }
            }
        }

        .my_friends_list {
            .list {
                >div {
                    button {
                        background-color: #00000000;
                    }
                }
            }
        }

        .want_friends_list {
            .list {
                >div {
                    button {
                        width: 48px;
                        height: 24px;
                        background-color: var(--white100);
                        border: 0;
                        color: var(--black500);
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.ok_friend {
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #0000009d;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        width: 476px;
        height: 240px;
        background-color: var(--white);
        border-radius: 10px;
        padding: 30px 45px;

        h2 {
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 25px;
        }

        div {
            display: flex;
            justify-content: space-between;

            button {
                width: 49%;
                height: 48px;
                border: 0;
                border-radius: 5px;
            }

            .nope {
                background-color: #00000000;
                border: 1px solid var(--black300);
                color: var(--black300);
                font-weight: 600;
            }

            .okay {
                background-color: var(--black300);
                color: var(--white);
            }
        }
    }
}

@media (max-width: 1600px) {
    .comm_write {
        padding: 50px 0;
        width: 850px;

        .cancel_pop {
            >div {
                width: 430px;

                h3 {
                    font-size: 20px;
                }

                p {
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                >div {
                    >button {
                        width: 48%;
                    }

                    .not_cancel {
                        background-color: var(--black300);
                        color: var(--white);
                    }
                }
            }
        }
    }

    .comm_timeline {
        .comm_Article {
            padding: 25px;

            .article {

                h3,
                p {
                    padding: 0 5px;
                }

                .catecory {
                    min-width: 160px;
                    font-size: 14px;
                }

                .title {
                    font-size: 22px;
                    margin-bottom: 5px;
                }

                .nickname {
                    font-size: 15px;
                    margin-bottom: 5px;
                }

                .time {
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                .text {
                    font-size: 15px;
                }

                .like {
                    img {
                        width: 20px;
                        height: 20px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        .comment_wrap {
            .comment_write {
                input {
                    width: 90%;
                    font-size: 15px;
                }

                button {
                    width: 9%;
                }
            }

            .comment_list {
                padding: 0 5px;

                .comment,
                .comment_re {
                    h4 {
                        font-size: 17px;
                        margin-bottom: 2px;
                    }

                    div {
                        p {
                            font-size: 15px;
                        }

                        button {
                            font-size: 14px;
                        }
                    }

                    >p {
                        font-size: 14px;
                    }
                }

                .comment_re {
                    img {
                        margin-right: 5px;
                    }

                    div {
                        div {
                            button {
                                font-size: 14px;
                            }
                        }

                        .writer {
                            .cate {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    #going_write {
        right: 100px;
        bottom: 50px;
        transform: translate(-100px, -50px);
    }

    .comm_friend_wrap {
        .header {
            margin-bottom: 20px;

            .search_friends {
                padding: 0 20px;

                input {
                    font-size: 15px;
                    padding: 10px;
                }

                button {
                    width: 120px;
                    height: 30px;
                    font-size: 14px;
                }
            }
        }

        .main {
            >div {
                h4 {
                    font-size: 16px;
                }

                .list {
                    height: 350px;

                    >div {
                        height: 35px;

                        p {
                            font-size: 16px;
                        }
                    }
                }

                .pagenation {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        width: 30px;
                        height: 30px;
                        margin: 0 15px;
                        background-color: #00000000;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        font-size: 16px;
                    }

                    .click {
                        border-radius: 50%;
                        color: var(--white);
                        background-color: var(--black200);
                    }
                }
            }

            .want_friends_list {
                .list {
                    >div {
                        button {
                            width: 48px;
                            height: 24px;
                            background-color: var(--white100);
                            border: 0;
                            color: var(--black500);
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.date {
    font-size: 14px;
    color: var(--white300);
}