.main_footer {
    min-width: 1500px;
    height: 60vh;
    min-height: 480px;
    max-height: 620px;
    padding: 50px 60px;
    background-color: var(--black200);
    display: flex;
    justify-content: space-between;

    >.left,
    .right {
        width: 50%;
    }

    p {
        color: var(--white300);
    }

    .left {
        h3 {
            font-size: 30px;
            color: var(--white);
            font-weight: 600;
        }

        div {
            padding: 80px 0;
        }

    }

    .right {
        >p {
            font-size: 14px;
            padding-top: 60px;
        }
    }
}