#header {
    min-width: 1400px;
    height: 75px;

    >div {
        z-index: 100;
        width: 98.9vw;
        min-width: 1400px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;

        .logo {
            left: 40px;
            top: 10px;
            position: absolute;
            font-size: 32px;
            font-weight: 900;
            color: var(--main);
            width: 20%;
        }

        #nav {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
            font-size: 18px;
            font-weight: 600;
            font-family: var(--main-pre);
            width: 60%;
            color: var(--black100);
            padding-top: 5px;
            padding-left: 30px;

            >ul {
                justify-content: space-between;
                display: flex;

                >li {
                    width: 25%;
                    position: relative;

                    >ul {
                        position: absolute;
                        font-size: 16px;
                        color: #00000000;
                        transition: all 0.3s;
                        overflow: hidden;

                        >li {
                            padding: 5px 0;
                        }
                    }
                }
            }
        }

        .login_btnwrap {
            right: 30px;
            top: 25px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }

            p {
                margin-right: 10px;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 120px;
                width: 100px;
                padding: 5px;
                background-color: #00000000;
                border: 1px solid #000;
            }
        }
    }

    >div:hover {
        background-color: var(--white);
        height: 300px;

        #nav {
            >ul {
                >li {
                    width: 20%;
                    >ul {
                        margin-top: 20px;
                        position: absolute;
                        font-size: 16px;
                        color: var(--black400);
                        transition: all 0.3s;
                        overflow: hidden;

                        >li {
                            padding: 5px 0;
                        }
                        
                        >li:hover {
                            color: var(--black100);
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }
}