#header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 32px;
        font-weight: 900;
        color: var(--main);
        width: 20%;
    }

    #nav {
        z-index: 100;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--main-pre);
        width: 60%;
        color: var(--black100);
        padding-top: 5px;
        padding-left: 30px;

        >ul {
            justify-content: space-between;
            display: flex;

            >li {
                width: 25%;
                position: relative;

                >ul {
                    position: absolute;
                    font-size: 16px;
                    color: #00000000;
                    transition: all 0.3s;
                    height: 0;
                    overflow: hidden;

                    >li {
                        padding: 5px 0;
                    }
                }
            }
        }


    }

    #nav:hover {
        >ul {
            >li {
                >ul {
                    width: 120%;
                    height: 150px;
                    background-color: var(--white);
                    margin-top: 30px;
                    position: absolute;
                    font-size: 16px;
                    color: var(--black400);

                    >li:hover {
                        color: var(--black100);
                    }
                }
            }
        }
    }

    .login {
        padding-left: 3vw;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            border-radius: 120px;
            width: 100px;
            padding: 5px;
            background-color: #00000000;
            border: 1px solid #000;
        }
    }
}

@media(max-width:1600px) {
    #header {
        padding: 20px 40px 10px;

        .logo {
            font-size: 28px;
        }

        #nav {
            font-size: 17px;
            width: 70%;
            padding-top: 10px;

            >ul {
                justify-content: space-between;
                display: flex;

                >li {
                    width: 25%;
                    position: relative;

                    >ul {
                        position: absolute;
                        color: #00000000;
                        transition: all 0.3s;
                        height: 0;
                        overflow: hidden;

                        >li {
                            font-size: 14px;
                            padding: 5px 0;
                        }
                    }
                }
            }


        }

        .login {
            img {
                width: 22px;
                height: 22px;
            }

            button {
                width: 85px;
                font-size: 15px;
            }
        }
    }
}

@media(max-width:1200px) {
    #header {
        width: 1200px;
        .logo {
            font-size: 25px;
        }

        #nav {
            font-size: 16px;
        }
    }
}