body {
    background-color: var(--white);
    color: var(--black);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

.loader_Wrap {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// variables
$size: 80px !default;
$thickness: 6px !default;
$base-color: #fff !default;
$wheel-color: var(--main) !default;
$speed: 800ms !default;

.loader {
    margin: 5% auto;
    height: $size;
    width: $size;
    border: $thickness solid $base-color;
    border-radius: 100%;

    border-right-color: $wheel-color;
    border-top-color: $wheel-color;

    animation: spin $speed infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}